@use 'sass:color';

.markdown {
  line-height: 1.5;
  word-wrap: break-word;

  p,
  blockquote,
  ul,
  ol,
  table,
  pre {
    margin-top: 0;
    margin-bottom: 16px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;

    .heading-anchor {
      display: inline-flex;
      align-items: center;
      margin-left: 0.2em;
      vertical-align: middle;
      color: var(--ui-text-muted);
      text-decoration: none;
      opacity: 0;
      transition: opacity 0.15s ease;

      svg {
        width: 0.8em;
        height: 0.8em;
      }
    }

    &:hover .heading-anchor {
      opacity: 1;
    }

    .heading-anchor:hover {
      color: var(--ui-primary);
    }
  }

  h1,
  h2 {
    padding-bottom: 0.3em;
    border-bottom: 1px solid var(--ui-border);
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.25em;
  }

  h5 {
    font-size: 0.875em;
  }

  h6 {
    font-size: 0.85em;

    color: color-mix(in srgb, var(--ui-text) 80%, transparent);
  }

  table {
    border-collapse: collapse;

    th {
      font-weight: 600;
    }

    th,
    td {
      padding: 6px 13px;
      border: 1px solid var(--ui-border);
    }
  }

  blockquote {
    margin-left: 0;
    padding: 0 1em;

    border-left: 0.5em solid var(--ui-border);
    color: color-mix(in srgb, var(--ui-text) 70%, transparent);
  }

  ul {
    list-style: disc;
    ul {
      list-style: circle;
      ul {
        list-style: square;
      }
    }
  }

  ol {
    list-style: decimal;
  }

  ul,
  ol {
    padding-left: 2em;

    ul {
      list-style: circle;
    }

    ol {
      list-style-type: lower-roman;
    }

    ul,
    ol {
      ol {
        list-style-type: lower-alpha;
      }
    }
  }

  hr {
    height: 0.25em;
    padding: 0;
    margin: 24px 0;
    border: 0;

    background-color: var(--ui-border);
  }

  input[type='checkbox'] {
    margin: 0;
  }

  a {
    text-decoration: none;

    color: var(--ui-primary);

    &:hover {
      text-decoration: underline;
    }

    &:not([href]) {
      color: inherit;
      text-decoration: none;
    }
  }

  b,
  strong {
    font-weight: 600;
  }

  kbd {
    display: inline-block;
    padding: 3px 5px;
    font-size: 11px;
    line-height: 10px;
    vertical-align: middle;
    border-radius: 6px;

    background-color: var(--ui-bg-muted);
    border: solid 1px var(--ui-border-accented);
    box-shadow: inset 0 -1px 0 var(--ui-border-accented);
  }

  pre {
    padding: 16px;
    font-size: 85%;
    line-height: 1.45;
    border-radius: 6px;

    background-color: var(--ui-bg-muted);

    code {
      font-size: 100%;
      padding: 0;
      word-break: normal;
      white-space: pre;
      background: transparent;
    }
  }

  code {
    padding: 0.2em 0.4em;
    font-size: 85%;
    white-space: break-spaces;
    border-radius: 6px;

    background-color: var(--ui-bg-muted);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    code {
      font-size: inherit;
    }
  }
}
