@use 'vars.scss' as *;

$--colors: (
  'primary': (
    'base': $primary-color-dark,
  ),
);


$--text-color: (
  'primary': $text-color-primary-dark,
);

@forward 'element-plus/theme-chalk/src/dark/var.scss' with (
  $colors: $--colors,
  $text-color: $--text-color,
);
