name: CI/Release

on:
  release:
    types:
      - published

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      # Allow upload of assets to release
      contents: write
      # Allow push of docker images
      packages: write

    steps:
      - uses: actions/checkout@v6
        with:
          # Required by goreleaser
          fetch-depth: 0

      ### Frontend
      - uses: pnpm/action-setup@v4
        with:
          package_json_file: frontend/package.json
        # pnpm has to be installed before node to make use of caching
      - uses: actions/setup-node@v6
        with:
          node-version-file: "frontend/package.json"
          cache: pnpm
          cache-dependency-path: frontend/pnpm-lock.yaml
      - run: pnpm install --frozen-lockfile
        working-directory: frontend
      - run: pnpm generate
        working-directory: frontend

      ### Backend
      - uses: docker/setup-qemu-action@v3
        # Required by goreleaser to build docker images with buildx
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/setup-go@v6
        with:
          go-version-file: backend/go.mod
          cache-dependency-path: backend/go.sum
      - uses: goreleaser/goreleaser-action@v7
        with:
          args: release --clean
          workdir: backend
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
